:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
}

body {
  /*background: var(--body-background);*/
  color: var(--body-color);
  display: grid;
  font: 12pt Georgia, serif;
  grid-template-areas:
    "nav body"
    "nav footer";
  grid-template-columns: 220px 1fr;
  margin-top: 0;
}

h1 {
  color: var(--heading-color);
  font-size: 18pt;
  font-weight: bold;
  padding-top: 0.5em;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-color: #ccc;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

a {
  text-decoration: none;
}

body > header {
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav {
  background-color: #ffefcf;
  border: solid 1px black;
  grid-area: nav;
  left: 0;
  min-height: 99vh;
  padding-right: 1em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  width: 240px;
}

a:hover {
  text-decoration: underline;
}

body > nav ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 2em;
}

body > nav p {
  margin-left: 1em;
}

.nav-section-header {
  font-weight: bold;
  margin-bottom: 0;
}

main {
  background: white;
  grid-area: body;
  line-height: 1.4;
  min-height: calc(100vh - 200px);
  padding-left: 4em;
  padding-right: 4em;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  font-size: 1em;
  grid-area: footer;
  margin-bottom: 4rem;
  padding-left: 3em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.next-table-simple + table {
  border: 1px solid black;
  border-collapse: collapse;
}

.next-table-simple + table th,td {
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.draft-header {
  color: blue;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}

.post-date {
  font-size: smaller;
  font-style: italic;
}

.post-summary {
  padding-bottom: 1em;
}

.post-summary a {
  padding-right: 1em;
}

.rss-feed-link {
  float: right;
  font-size: 10pt;
  padding-right: 1em;
  padding-top: 1.5em;
}
